@using Microsoft.AspNetCore.Http



<h2>Welcome</h2>
<h3>Wrong Welcome</h3>

<form asp-controller="Users" asp-action="Logout" method="POST">
    <button class="btn btn-outline-primary">Log Out</button>
</form>
